<div class="container">
  <h1 class="text-center mb-5">Sklep z owocami</h1>
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-8">
      <div class="text-center mb-3">
        Sortuj według:
      <div class="form-check form-check-inline">
        <button type="button" class="btn btn-secondary btn-sm" (click)="sortName()">Nazwa</button>
      </div>
      <div class="form-check form-check-inline">
        <button type="button" class="btn btn-secondary btn-sm" (click)="sortPrice()">Cena</button>
      </div>
      <div class="form-check form-check-inline">
        <button type="button" class="btn btn-secondary btn-sm" (click)="sortDescription()">Opis</button>
      </div>
      </div>
      <app-item-list (activeItemIdOutput)="activeId($event)" [activeItemId]="itemActiveId"></app-item-list>
    </div>
    <div class="col-12 col-sm-8 col-lg-4">
      <div class="d-flex flex-row container justify-content-center">
        <button type="button" class="btn btn-success mr-3" (click)="toggleForm()" [disabled]="showFormEdit">
          <img src="assets/img/add.svg" alt="dodaj" style="width: 50px;">
        </button>
        <button type="button" class="btn btn-primary mr-3" (click)="toggleFormEdit()" [disabled]="itemActiveId === null || showForm">
          <img src="assets/img/pencil.svg" alt="edytuj" style="width: 50px;">
        </button>
        <button type="button" class="btn btn-danger" [disabled]="itemActiveId === null" (click)="onItemDelete()">
          <img src="assets/img/trash.svg" alt="usuń" style="width: 50px;">
        </button>
      </div>
      <app-add *ngIf="showForm"></app-add>
      <app-edit *ngIf="showFormEdit" [itemId]="itemActiveId" (closeWindow)="OnEditFormClose()"></app-edit>
    </div>
  </div>
</div>